---

- name: Copy java rpm
  ansible.builtin.copy:
    src: "{{ installers_dir }}/{{ java_pkg }}"
    dest: /tmp
    mode: '0644'

- name: Install java rpm
  ansible.builtin.dnf:
    name: /tmp/{{ java_pkg }}
    state: present
