---
# tasks file for nexus

- name: Add nexus user
  ansible.builtin.user:
    name: nexus

- name: Install Java
  ansible.builtin.include_tasks: install_java.yml
  when: need_java

- name: Create nexus install dir
  ansible.builtin.file:
    path: "{{ nexus_install_dir }}"
    state: directory
    owner: nexus
    group: nexus
    mode: '0755'

- name: Extract files
  ansible.builtin.unarchive:
    src: "{{ nexus_installer }}"
    dest: "{{ nexus_install_dir }}"
    owner: nexus
    group: nexus

- name: Change extracted directories permissions
  ansible.builtin.file:
    path: "{{ nexus_install_dir }}"
    owner: nexus
    group: nexus
    recurse: true

- name: Setup nexus as service
  ansible.builtin.template:
    src: nexus.service.j2
    dest: /etc/systemd/system/nexus.service
    owner: root
    group: root
    mode: '0644'

- name: Reload, enable and start nexus systemd service
  ansible.builtin.systemd:
    name: nexus.service
    enabled: true
    state: started
    daemon_reload: true
