---
# tasks file for basic_setup

- name: Install common tools
  block:
    - name: Install packages
      ansible.builtin.dnf:
        name: "{{ basic_tools }}"
        state: present

  rescue:
    - name: Install EPEL on RHEL hosts
      ansible.builtin.dnf:
        name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
        state: present
        disable_gpg_check: true
